@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

.newsItem{
    font-size: 10vh;
    /* border: solid; */
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.newsItem img {
    /* border: solid; */
    width: 30vh;
    height: 12vh;
}