

.menuContainer{
    display: grid;
    grid-template-columns: 30% 40% 10% 20%;
}



@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  /* border: solid; */
    list-style: none;
    padding: 2vw 0;
    margin-bottom:  9vh;
    text-align: left;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #242224;
  display: inline-block;
  font-size: 1.4vw;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* letter-spacing: 2px; */
    letter-spacing: 0.2vw;
    position: relative;
    padding-bottom: 1vw;
    margin: 0 2.3vw 0 2vw;
    font-size: 1.3vw;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    transition: color .1.5s;
}
.menu-main a, .menu-main a:visited {color: #242224;}
.menu-main a.current, .menu-main a:hover{color: #6a6a6a;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 0.3vw;
  top: auto;
  right: 50%;
  bottom: -0.8vw;
  left: 50%;
  background: #9f9e9e;
  transition: .2s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 3vw) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 1vw 0 1vw; 
  margin: 0 1.5vw;
}
}

.active{
  color: var(--color-active);
  cursor: default;
}
.active .menu-main a {
  padding: 1.3vw 0 1.vw; 
  margin: 0 1.5vw;
}






.goToArchieve{
  grid-column-start: 3;
  width: 3vw;
  margin-top: 2vw;
}


.linkArchieve{
  text-decoration: none;  
  color: black;
}
.linkArchieve img{
  height: 2.7vw;
  width: 2.7vw;
}
