
.modalComentBackground{
    background-color: rgba(85, 83, 83, 0.4);
    /* opacity: 0.3; */
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* margin-top: -28vh; */
    /* pointer-events: none; */

}

.modalComentCard{
    z-index: 1;

    font-size: 1vw;
    width: 19vw;
    height: 12vw;
    border-radius: 3vh;
    background-color: rgb(238, 238, 238);
    opacity: 1;
    margin-left: 50vw;
    margin-top: 15vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}
.messageInfo{
    /* margin-left: 1vw; */
    text-align: center;
    grid-row-start: 2;
    grid-column-start:1 ;
    grid-column-end: 3;
    font-weight: 500;

}
.yes{
    grid-column-start:1 ;
    cursor: pointer;
    margin-left: 3vw;
    grid-row-start: 3;
    background-color: rgb(128, 0, 0);
    width: 4vw;
    border-radius: 12px;
    height: 2vw;
    font-size: 1vw;
    color: white;
    text-align: center;
    font-weight: 500;
    line-height: 2vw;
    
}
.yes:hover{
    background-color:rgb(68, 1, 1) ;
}
.no{
    grid-column-start:2;
    cursor: pointer;
    line-height: 2vw;
    
    font-weight: 500;
    grid-row-start: 3;
    background-color: green;
    width: 4vw;
    border-radius: 12px;
    height: 2vw;
    font-size: 1vw;
    color: white;
    text-align: center;
}
.no:hover{
    background-color: rgb(5, 99, 5);

}