.optionsBox{
    display: grid;
    grid-template-columns: 25% 75%;
    /* height: 20vh; */
    /* background-color: rgba(255, 255, 255, 1);  */
    /* background-color: rgb(233, 223, 223); */
    
}
.sidenav {
    height: 100%;
    width: 20vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0b0a0a;
    overflow-x: hidden;
    /* padding-top: 20px; */
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}

.sidenav div {
    padding: 0px 0px 0px 0.5vw;
    /* margin-bottom: 10px; */
    height: 3.8vw;
    /* margin-left: 10px; */
    text-decoration: none;
    font-size: 2.1vw;
    color: #818181;
    display: block;
    /* line-height: 28px; */
    transition: 0.3s;
    cursor: pointer;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}


.sidenav div:hover {
    border-bottom: solid rgb(49, 43, 30) 0.1vw;

    background-color: #1e1d1d;
    color: #f1f1f1;
}
.imgLogOut{
    height: 1vw;
    width: 2.2vw;
    float: left;
    margin-top: 0.3vw;
    
}
.imgLogOut img{
    height: 2vw;
    width: 2vw;
    
}
.contentBox{
    grid-column-start:2;

    display: grid;
    grid-template-columns: 10% auto auto;
    grid-template-rows: 30% auto auto;
    /* border: solid; */
    /* height: 100%; */
}
.profileTitle{
    font-size: 2vw;
    grid-column-start:1;
    margin-top: 3vw;
    opacity: 0.6;
    grid-row-start: 1;
    
}
.profileTitle img{
   
     width: 4vw;
    height: 4vw;
    opacity: 0.7;
}
.profileBox{
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: auto auto auto;
}
.imageBox{
    grid-column-start: 1;
    /* border-radius: 50%; */
    /* border: solid 0.2vw rgb(90, 90, 90); */
    width: 15vw;
    height: 17.5vw;
    /* border-radius: 0.4vw;    */
    /* border: solid  0.25vw; */
}

/* .imageBox img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 1.5vw;
    margin-top: 1.6vw;

} */
.imagecont{
    width: 8vw;
    height: 8vw;
    margin-left: 1.5vw;
    margin-top: 1.6vw;
 
}
.imagecont img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
.changheFoto{
    margin-top: 2vw;
    font-weight:600;
    color: rgb(73, 73, 79);
    transition: 0.3s;
    cursor: pointer;
    margin-left: 2.5vw;
    font-size: 1vw;
}

.changheFoto:hover{
    margin-top: 2vw;

    color: rgb(7, 3, 103);
}

.infoAboutBox{
    grid-column-start: 2;
}

.chooseInfo{
    line-height: 4vw;
    width: 25vw;
    height: 4vw;
    background-color: rgb(209, 195, 195);
    font-size: 1.2vw;
    border-radius: 0.2vw;
    color: #555;
    font-weight: 500;
    border-bottom: 0.1vw white solid;
    -webkit-box-shadow: 2px 16px 92px -31px rgba(43,43,43,1);
    -moz-box-shadow: 2px 16px 92px -31px rgba(43,43,43,1);
    box-shadow: 2px 16px 92px -31px rgba(43,43,43,1);
    transition: 0.3s;
    cursor: pointer;
}
.chooseInfo div{
    /* opacity: 0.7; */
    margin-left: 1vw;
}
.inputDataProfileBox{
    margin-bottom: 1vw;
}
.chooseInfo:hover{
    background-color: rgb(117, 113, 113);
    color: white;
}
.exitInMenuOptionImage{

}
.exitInMenuOptionImage img{
    width: 1.3vw;
    height: 1.3vw;
    cursor: pointer;
    margin-bottom: 1vw;
}
.inputDataProfileBox input[type=text] {
    width: 19vw;
    /* height: 1vw; */
    padding: 0.8vw;
    font-size: 1vw;
    /* margin: 8px 0; */
    /* box-sizing: border-box; */
    border: 0.23vw solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  .inputDataProfileBox input[type=text]:focus {
    border: 0.23vw solid #555;
  }
  .changeIformation{
    margin-top: 2vw;
    /* margin-left: 1vw; */
    font-weight:500;
    color: rgb(73, 73, 79);
    transition: 0.3s;
    cursor: pointer;
    margin-left: 3.5vw;
    font-size: 1vw; 
  
}
  .changeIformation:hover{
        color: rgb(7, 3, 103);
  }
  .saveInformation{
    background-color: #1a1717;
    width: 7vw;
    height: 3vw;
    text-align: center;
    line-height: 3vw;
    font-size: 1.2vw;
    border-radius: 0.8vw;
    color: white;
    margin-left: 6vw;
    transition: 0.2s;
    cursor: pointer;

  }
  .saveInformation:hover{
        margin-top: -0.1vw;
        -webkit-box-shadow: 2px 16px 114px -6px rgba(43,43,43,1);
        -moz-box-shadow: 2px 16px 114px -6px rgba(43,43,43,1);
        box-shadow: 2px 16px 114px -6px rgba(43,43,43,1);
  }


  .statistics{
    display: grid;
    grid-template-columns: 20% auto auto auto auto;
    text-align: center;
    border-top: rgb(194, 59, 59) solid 0.3vw;
    /* border-top: rgb(70, 55, 55) solid 0.3vw; */
}
  .statTitle{
    /* border-right: solid; */
    font-size: 1.6vw;
    opacity: 0.9;
    color: brown;
    margin-right: 9vh;
    font-weight: 600;   
    /* border: solid; */
}
.typeOfArchieve{
    grid-column-start: 1;
    /* border: solid; */
    margin-top: 1vw;
    font-size: 2vw;
    color: brown;
    opacity: 0.9;
    margin-right: 9vh;
    font-weight: 600;
    /* border: solid;    */
}
.statNumber{
    /* border: solid; */
    margin-right: 9vh;   
    opacity: 0.8;
    font-weight: 700;
    margin-top: 1vw;
    font-size: 2.6vw;

}


/* ////////////////// */

.deleteProfileCard{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    width: 28vw;
    height: 16vw;
    background-color: rgb(162, 157, 157);
    font-size: 1.2vw;
    border-radius: 0.2vw;
    color: #555;
}
.infoDelete{
    grid-column-start: 1;
    
}
.infoDateDelete{
    grid-column-start: 2;

}
.delete{
    grid-column-start: 1;
    color: rgb(183, 12, 12);
    opacity: 0.4;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;    
}
.delete:hover{
    opacity: 1;

}

.backSettings{
    border-bottom: solid rgb(255, 255, 255) 0.1vw;

    cursor: pointer;
    font-size: 2vw;
}




/* инпут загрузки файла */
.drop-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8vw;
    font-size: 1vw;
 gap: 1vw;
    padding: 2vw;
    border-radius: 1vw;
    border: 0.2vw dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
  }
  
  .drop-container:hover {
    background: #eee;
    border-color: #111;
  }
  
  .drop-container:hover .drop-title {
    color: #222;
  }
  
  .drop-title {
    color: #444;
    font-size: 1vw;
    
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }
  
  input[type=file] {
    /* width: 7vw; */
    max-width: 100%;
    color: #444;
    padding: 1vw;
    font-size: 1vw;
    background: #fff;
    border-radius: 1vw;
    border: 0.1vw solid #555;
  }
  
  input[type=file]::file-selector-button {
    border: none;
    background: #084cdf;
    border-radius: 0.1vw;
    font-size: 1vw;
    color: #fff;
    cursor: pointer;
    float: initial;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #0d45a5;
  }